/CalcSeguro.class
/Cliente.class
/ClientePF.class
/ClientePJ.class
/Date.class
/Main.class
/MenuOperacoes.class
/Seguradora.class
/Sinistro.class
/SubmenuOperacoes.class
/Validacao.class
/Veiculo.class
